@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock-padding {
  overflow: hidden;
  padding-right: 17px;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.header {
  position: relative;
}

.header__img {
  width: 100%;
  height: 100%;
}

.header__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: -2;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-menu {
  height: 120px;
  padding: 15px 0;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .header-menu {
    height: 80px;
  }
}

@media (max-width: 992px) {
  .header-menu {
    position: relative;
    margin-bottom: 20px;
  }
}

.header-menu__logo {
  height: 85px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .header-menu__logo {
    position: relative;
    margin-bottom: 20px;
    height: 50px;
  }
}

.header-menu__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 992px) {
  .header-menu__list {
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
    opacity: 1;
    position: absolute;
    top: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .header-menu__list {
    border-radius: 70px;
    height: 150vh;
    width: 100%;
    right: -18%;
    z-index: 2;
    top: 130%;
  }
  .header-menu__list::before {
    content: "";
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    height: 150vh;
    width: 100%;
    right: -12%;
    position: absolute;
    top: -70px;
    z-index: -1;
  }
  .header-menu__list::after {
    content: "";
    background: #562000;
    border-radius: 70px;
    height: 150vh;
    width: 100%;
    right: -9%;
    z-index: -2;
    top: -135px;
    position: absolute;
  }
}

@media (max-width: 768px) {
  .header-menu__list {
    top: 120%;
  }
  .header-menu__list::before {
    content: "";
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    height: 150vh;
    width: 100%;
    right: -12%;
    position: absolute;
    top: -25px;
    z-index: -1;
  }
  .header-menu__list::after {
    content: "";
    background: #562000;
    border-radius: 70px;
    height: 150vh;
    width: 100%;
    right: -9%;
    z-index: -2;
    top: -90px;
    position: absolute;
  }
}

.header-menu__list li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 29px;
  margin-left: 70px;
}

@media (max-width: 1200px) {
  .header-menu__list li {
    margin-left: 40px;
  }
}

@media (max-width: 992px) {
  .header-menu__list li {
    padding: 40px 0px;
    text-align: center;
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  .header-menu__list li {
    padding: 20px 0px;
  }
}

.header-menu__list li a {
  color: #ffffff;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  position: relative;
}

.header-menu__list li a::after {
  position: absolute;
  content: "";
  display: block;
  top: 100%;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

@media (max-width: 992px) {
  .header-menu__list li a::after {
    background-color: #000000;
  }
}

.header-menu__list li a:hover::after {
  opacity: 1;
}

.header-menu__list li a:active::after {
  top: 105%;
}

@media (max-width: 992px) {
  .header-menu__list li a {
    color: #000000;
    font-weight: 400;
    font-size: 38px;
    line-height: 19px;
  }
}

@media (max-width: 767px) {
  .header-menu__list li a {
    font-size: 22px;
  }
}

.header-menu__list li:first-child {
  margin: 0;
}

.header-bottom__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  padding-right: 25px;
}

@media (max-width: 992px) {
  .header-bottom__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    padding: 0;
  }
}

.header-bottom__text h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 109px;
  line-height: 127px;
  color: #ffffff;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .header-bottom__text h1 {
    font-size: 79px;
    line-height: 87px;
  }
}

@media (max-width: 992px) {
  .header-bottom__text h1 {
    font-size: 59px;
  }
}

@media (max-width: 768px) {
  .header-bottom__text h1 {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 25px;
  }
}

.header-bottom__text h2 {
  font-weight: 300;
  font-size: 40px;
  line-height: 49px;
  color: #ffffff;
  margin-bottom: 60px;
}

@media (max-width: 1200px) {
  .header-bottom__text h2 {
    font-size: 24px;
  }
}

@media (max-width: 992px) {
  .header-bottom__text h2 {
    font-size: 18px;
    line-height: 29px;
  }
}

@media (max-width: 768px) {
  .header-bottom__text h2 {
    display: none;
  }
}

.header-bottom__btn {
  display: inline-block;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#eb9562), color-stop(148.54%, #e0cfa7));
  background: linear-gradient(90deg, #eb9562 0%, #e0cfa7 148.54%);
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  margin-bottom: 110px;
}

@media (max-width: 768px) {
  .header-bottom__btn {
    border-radius: 20px;
  }
}

.header-bottom__btn:hover {
  -webkit-transition: 1.2s;
  transition: 1.2s;
  background: -webkit-gradient(linear, left top, right top, from(#b1653a), color-stop(148.54%, #a18c5c));
  background: linear-gradient(90deg, #b1653a 0%, #a18c5c 148.54%);
}

.header-bottom__btn:active {
  background: -webkit-gradient(linear, left top, right top, from(#eb9562), color-stop(148.54%, #e0cfa7));
  background: linear-gradient(90deg, #eb9562 0%, #e0cfa7 148.54%);
}

@media (max-width: 992px) {
  .header-bottom__btn {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .header-bottom__btn {
    margin-bottom: 20px;
  }
}

.header-bottom__btn a {
  display: inline-block;
  padding: 35px 80px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: 768px) {
  .header-bottom__btn a {
    font-size: 14px;
    padding: 20px 40px;
  }
}

.header-bottom__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.header-bottom .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 992px) {
  .header-bottom .item {
    display: none;
  }
}

.header-bottom .item__image {
  text-align: right;
  width: 440px;
  height: 440px;
  border-radius: 50%;
  border: 12px solid #eb9562;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .header-bottom .item__image {
    width: 340px;
    height: 340px;
  }
}

.header-bottom .item__image img {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-bottom .item__link {
  text-align: right;
}

@media (max-width: 1200px) {
  .header-bottom .item__link img {
    height: 60px;
  }
}

.header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .header-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hidden {
  display: none;
}

.opacity {
  opacity: 0;
}

@media (max-width: 992px) {
  .menu__burger {
    display: block;
    position: relative;
    right: 10px;
    top: 30px;
    z-index: 25;
    width: 35px;
    height: 26px;
    cursor: pointer;
  }
}

@media (max-width: 992px) and (max-width: 768px) {
  .menu__burger {
    top: 10px;
  }
}

@media (max-width: 992px) {
  .menu__burger::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu__burger::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu__burger span {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
    width: 100%;
    height: 10%;
    background-color: #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .animation.menu__burger::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 11.5px;
  }
  .animation.menu__burger::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 11.5px;
  }
  .animation.menu__burger span {
    -webkit-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }
}

.apartments {
  position: relative;
  margin-bottom: 70px;
}

@media (max-width: 992px) {
  .apartments {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .apartments {
    margin-bottom: 30px;
  }
}

.apartments-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.apartments-img__link {
  height: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 992px) {
  .apartments-img__link {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .apartments-img__link {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    height: 115px;
  }
}

.apartments-img__link::before {
  content: "";
}

.apartments-img__link a {
  position: relative;
  top: 70%;
  left: 0;
  padding: 6px 25px;
  background: rgba(255, 255, 255, 0.45);
  font-weight: 500;
  font-size: 26px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 992px) {
  .apartments-img__link a {
    font-size: 20px;
    padding: 4px 15px;
    top: 75%;
  }
}

@media (max-width: 768px) {
  .apartments-img__link a {
    font-size: 20px;
    padding: 4px 15px;
    top: 60%;
  }
}

.apartments-img__link a::after {
  content: "→";
  margin-left: 25px;
}

.apartments-img__link a:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #000000;
}

.apartments-img__link a:active {
  left: 10%;
}

.apartments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
}

.apartments-item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 50%;
  height: 250px;
}

@media (max-width: 992px) {
  .apartments-item__img {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .apartments-item__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    height: 115px;
  }
}

.apartments-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.why {
  margin-bottom: 100px;
  background-color: white;
}

@media (max-width: 992px) {
  .why {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .why {
    margin-bottom: 30px;
  }
}

.why__title {
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #8d3500;
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .why__title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .why__title {
    font-size: 28px;
    line-height: 22px;
  }
}

.why__text {
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

@media (max-width: 992px) {
  .why__text {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 768px) {
  .why__text {
    font-size: 14px;
    line-height: 22px;
  }
}

.why-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

@media (max-width: 1100px) {
  .why-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

.why-items__item {
  height: 150px;
  padding-right: 20px;
}

@media (max-width: 768px) {
  .why-items__item {
    height: 75px;
  }
}

@media (max-width: 400px) {
  .why-items__item {
    height: 65px;
  }
}

@media (max-width: 350px) {
  .why-items__item {
    height: 55px;
  }
}

.why-items__item:last-child {
  padding-right: 0px;
  text-align: end;
}

@media (max-width: 1050px) {
  .why-items__item:last-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .why-items__item:last-child {
    padding-right: 20px;
  }
}

@media (max-width: 350px) {
  .why-items__item:last-child {
    padding-right: 0px;
  }
}

@media (max-width: 350px) {
  .why-items__item:first-child {
    margin-bottom: 20px;
  }
}

.why-items__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1050px) {
  .area {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 768px) {
  .area {
    padding-right: 0px;
  }
}

.map {
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .map {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .map {
    margin-bottom: 40px;
  }
}

.map__title {
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #8d3500;
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .map__title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .map__title {
    font-size: 28px;
    line-height: 22px;
  }
}

.map__text {
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

@media (max-width: 992px) {
  .map__text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #8d3500;
  }
}

@media (max-width: 768px) {
  .map__text {
    font-size: 14px;
    line-height: 22px;
  }
}

iframe {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  iframe {
    height: 200px;
    margin-bottom: 15px;
  }
}

.form {
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .form {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .form {
    margin-bottom: 30px;
  }
}

.form-items {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .form-items {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .form-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
    margin: 0px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.form-items__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 20px;
}

@media (max-width: 767px) {
  .form-items__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 20px;
    padding: 0px;
  }
}

.form-items__item p {
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
  width: 70%;
}

@media (max-width: 992px) {
  .form-items__item p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .form-items__item p {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0px;
  }
}

.form-items__item h3 {
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .form-items__item h3 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .form-items__item h3 {
    text-align: center;
    font-size: 28px;
    line-height: 32px;
  }
}

.form-items .item__input {
  max-width: 550px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .form-items .item__input {
    max-width: 100%;
  }
}

.form-items .item__input input {
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  width: 100%;
  padding: 10px 10px;
  color: #000000;
}

@media (max-width: 992px) {
  .form-items .item__input input {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .form-items .item__input input {
    padding: 5px 5px;
    font-size: 16px;
  }
}

.form-items .item__input input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 300;
  font-size: 21px;
}

.form-items .item__input input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 300;
  font-size: 21px;
}

.form-items .item__input input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 300;
  font-size: 21px;
}

.form-items .item__input input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 300;
  font-size: 21px;
}

@media (max-width: 768px) {
  .form-items .item__input input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .form-items .item__input input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .form-items .item__input input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .form-items .item__input input::placeholder {
    font-size: 14px;
    line-height: 22px;
  }
}

.form-items__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-items__button button,
.form-items__button a {
  font-weight: 600;
  font-size: 14.4702px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#eb9562), color-stop(148.54%, #e0cfa7));
  background: linear-gradient(90deg, #eb9562 0%, #e0cfa7 148.54%);
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  padding: 20px 70px;
}

.form-items__button button:hover,
.form-items__button a:hover {
  -webkit-transition: 1.2s;
  transition: 1.2s;
  background: -webkit-gradient(linear, left top, right top, from(#b1653a), color-stop(148.54%, #a18c5c));
  background: linear-gradient(90deg, #b1653a 0%, #a18c5c 148.54%);
}

.form-items__button button:active,
.form-items__button a:active {
  background: -webkit-gradient(linear, left top, right top, from(#eb9562), color-stop(148.54%, #e0cfa7));
  background: linear-gradient(90deg, #eb9562 0%, #e0cfa7 148.54%);
}

.footer {
  background-color: #562000;
  padding: 25px 0;
}

@media (max-width: 767px) {
  .footer {
    padding: 15px 0;
  }
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 -15px;
  }
}

.footer-items__item {
  max-width: 250px;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 767px) {
  .footer-items__item {
    padding: 0 15px;
  }
}

.footer-items__item img,
.footer-items__item span,
.footer-items__item div,
.footer-items__item h5 {
  margin-bottom: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer-items__item span {
  display: block;
}

.footer-items__item div img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer-items__item h6 {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: 992px) {
  .footer-items__item h6 {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .footer-items__item h6 {
    font-size: 12px;
    margin-bottom: 0px;
  }
}

.footer-items__item a {
  cursor: pointer;
  color: #ffffff;
  margin-right: 10px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: 992px) {
  .footer-items__item a {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .footer-items__item a {
    font-size: 12px;
  }
}

.footer-items__item a:hover {
  text-decoration: underline;
}

.footer-items__item h5 {
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
}

@media (max-width: 992px) {
  .footer-items__item h5 {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .footer-items__item h5 {
    font-size: 12px;
  }
}

.mb {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .mb {
    margin: 0px;
  }
}

@media (max-width: 767px) {
  .whatsapp {
    display: none;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 50;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__close {
  font-size: 34px;
  color: #ffffff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  padding: 10px;
  position: absolute;
  top: -50px;
  right: -10px;
}

.popup__close:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  font-weight: 700;
}

.popup__close:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  font-weight: 700;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.popup__content {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 44px;
  color: #000000;
  max-width: 1100px;
  padding: 50px 15px;
  position: relative;
}

@media (max-width: 767px) {
  .popup__content {
    padding: 25px 10px;
  }
}

.popup__content::after {
  content: "";
  position: absolute;
  background-color: #562000;
  border-radius: 44px;
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%;
  z-index: -1;
}

@media (max-width: 767px) {
  .popup__content::after {
    width: 106%;
    height: 106%;
    left: -3%;
    top: -3%;
  }
}

.popup__form-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .popup__form-items {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .popup__form-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
    margin: 0px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.popup-items__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 10px;
}

@media (max-width: 767px) {
  .popup-items__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 20px;
    padding: 0px;
  }
}

.popup-items__item p {
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  color: #000000;
  width: 100%;
  text-align: center;
}

@media (max-width: 992px) {
  .popup-items__item p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .popup-items__item p {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0px;
  }
}

.popup-items__item h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 58px;
  color: #000000;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 992px) {
  .popup-items__item h3 {
    line-height: 50px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .popup-items__item h3 {
    font-size: 28px;
    line-height: 32px;
  }
}

.popup-items__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-items__button button {
  font-weight: 600;
  font-size: 14.4702px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#eb9562), color-stop(148.54%, #e0cfa7));
  background: linear-gradient(90deg, #eb9562 0%, #e0cfa7 148.54%);
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  padding: 20px 70px;
}

.popup-items__button button:hover {
  -webkit-transition: 1.2s;
  transition: 1.2s;
  background: -webkit-gradient(linear, left top, right top, from(#b1653a), color-stop(148.54%, #a18c5c));
  background: linear-gradient(90deg, #b1653a 0%, #a18c5c 148.54%);
}

.popup-items__button button:active {
  background: -webkit-gradient(linear, left top, right top, from(#eb9562), color-stop(148.54%, #e0cfa7));
  background: linear-gradient(90deg, #eb9562 0%, #e0cfa7 148.54%);
}

.popup-item__input {
  max-width: 550px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .popup-item__input {
    max-width: 100%;
  }
}

.popup-item__input input {
  font-weight: 400;
  width: 100%;
  padding: 10px 10px;
  color: #000000;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  background-color: transparent;
}

@media (max-width: 992px) {
  .popup-item__input input {
    padding: 5px 5px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .popup-item__input input {
    padding: 5px 5px;
    font-size: 14px;
  }
}

.popup-item__input input::-webkit-input-placeholder {
  color: #000000;
  font-weight: 300;
  font-size: 21px;
}

.popup-item__input input:-ms-input-placeholder {
  color: #000000;
  font-weight: 300;
  font-size: 21px;
}

.popup-item__input input::-ms-input-placeholder {
  color: #000000;
  font-weight: 300;
  font-size: 21px;
}

.popup-item__input input::placeholder {
  color: #000000;
  font-weight: 300;
  font-size: 21px;
}

@media (max-width: 992px) {
  .popup-item__input input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .popup-item__input input:-ms-input-placeholder {
    font-size: 14px;
  }
  .popup-item__input input::-ms-input-placeholder {
    font-size: 14px;
  }
  .popup-item__input input::placeholder {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .popup-item__input input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 22px;
  }
  .popup-item__input input:-ms-input-placeholder {
    font-size: 12px;
    line-height: 22px;
  }
  .popup-item__input input::-ms-input-placeholder {
    font-size: 12px;
    line-height: 22px;
  }
  .popup-item__input input::placeholder {
    font-size: 12px;
    line-height: 22px;
  }
}

.about-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 -15px;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .about-home {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .about-home {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 100px;
  }
}

.about-home__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .about-home__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.about-home__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  padding: 0 15px;
  height: 440px;
}

@media (max-width: 992px) {
  .about-home__img {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .about-home__img {
    height: 170px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 30px;
  }
}

.about-home__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .about-button {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    top: 100%;
  }
}

.about-text p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .about-text p {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .about-text p {
    display: none;
  }
}

.about-text__title {
  text-align: center;
  color: #000000;
  font-weight: 700;
  font-size: 68px;
  line-height: 100px;
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .about-text__title {
    font-size: 46px;
    line-height: 60px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .about-text__title {
    font-size: 46px;
    line-height: 60px;
    margin-bottom: 15px;
  }
}

.about-plan {
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .about-plan {
    margin-bottom: 30px;
  }
}

.about-plan__title {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .about-plan__title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 768px) {
  .about-plan__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
  }
}

.about-plan p {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
}

@media (max-width: 992px) {
  .about-plan p {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .about-plan p {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.about-plan__img {
  padding: 20px 80px;
  position: relative;
}

@media (max-width: 992px) {
  .about-plan__img {
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .about-plan__img {
    padding: 0 10px;
  }
}

.about-plan__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.company-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -10px;
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .company-items {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .company-items {
    margin-bottom: 30px;
  }
}

.company-items__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 10px;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .company-items__item {
    margin-top: 0px;
  }
}

.company-items__item li {
  font-weight: 300;
  font-size: 30px;
  line-height: 131%;
  color: #000000;
}

@media (max-width: 992px) {
  .company-items__item li {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .company-items__item li {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .company-items__item li {
    font-size: 12px;
  }
}

.img-company {
  width: 344px;
  height: 124px;
  margin: auto;
}

@media (max-width: 992px) {
  .img-company {
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 767px) {
  .img-company {
    width: 90%;
    height: 90%;
  }
}

.img-company img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.apartament {
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .apartament {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .apartament {
    margin-bottom: 10px;
  }
}

.apartament-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

@media (max-width: 768px) {
  .apartament-list {
    margin: 0;
  }
}

.apartament-list__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55%;
          flex: 1 1 55%;
  padding: 0 10px;
}

@media (max-width: 767px) {
  .apartament-list__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0px;
  }
}

.apartament-list__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  padding: 0 10px;
}

@media (max-width: 767px) {
  .apartament-list__image {
    padding: 0px;
  }
}

.apartament-list__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 53px;
  color: #000000;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .apartament-list__title {
    font-size: 50px;
    line-height: 43px;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .apartament-list__title {
    font-size: 35px;
    margin-bottom: 15px;
    line-height: 43px;
    text-align: center;
  }
}

.apartament-list__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 50px;
  width: 70%;
}

@media (max-width: 992px) {
  .apartament-list__text {
    margin-bottom: 40px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .apartament-list__text {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
}

.apartament-list__text p {
  margin-bottom: 10px;
}

.apartament-list__img {
  height: 449px;
  width: 424px;
}

@media (max-width: 992px) {
  .apartament-list__img {
    height: 90%;
    width: 90%;
  }
}

@media (max-width: 767px) {
  .apartament-list__img {
    display: none;
  }
}

.apartament-list__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.apartament-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -15px;
}

.apartament-catalog__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 46%;
          flex: 1 0 46%;
  max-width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  padding: 15px 10px;
  border: 1.58599px solid #8d3500;
  border-radius: 28.5478px;
  margin: 15px;
  height: 230px;
}

@media (max-width: 992px) {
  .apartament-catalog__item {
    margin: 14px;
    height: 180px;
    max-width: 345px;
  }
}

@media (max-width: 767px) {
  .apartament-catalog__item {
    max-width: none;
    height: 160px;
  }
}

@media (max-width: 500px) {
  .apartament-catalog__item {
    max-width: 400px;
    height: 160px;
  }
}

@media (max-width: 450px) {
  .apartament-catalog__item {
    max-width: 340px;
    height: 180px;
  }
}

@media (max-width: 400px) {
  .apartament-catalog__item {
    max-width: 300px;
    height: 180px;
  }
}

.apartament-catalog__img {
  width: 212px;
  height: 191px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 212px;
          flex: 0 0 212px;
  padding: 0 10px;
}

@media (max-width: 992px) {
  .apartament-catalog__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .apartament-catalog__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
    height: 90%;
  }
}

@media (max-width: 400px) {
  .apartament-catalog__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 130px;
            flex: 0 0 130px;
    height: 90%;
  }
}

.apartament-catalog__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.apartament-body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  padding: 0 30px 0 10px;
}

@media (max-width: 992px) {
  .apartament-body {
    padding: 0 30px 0 10px;
  }
}

@media (max-width: 767px) {
  .apartament-body {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 80%;
            flex: 1 0 80%;
  }
}

.apartament-body__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .apartament-body__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .apartament-body__title {
    font-size: 20px;
  }
}

.apartament-body__text {
  padding: 0 0px 0 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .apartament-body__text {
    font-size: 14px;
    line-height: 14px;
    padding: 0 0px 0 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .apartament-body__text {
    font-size: 12px;
    padding: 0 30px 0 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 450px) {
  .apartament-body__text {
    padding: 0 30px 0 0;
  }
}

@media (max-width: 400px) {
  .apartament-body__text {
    padding: 0 40px 0 0;
  }
}

.apartament-body__link {
  text-align: end;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.apartament-body__link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  display: block;
}

.apartament-body__link a {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  padding: 0 45px 0 0;
  position: relative;
}

.apartament-body__link a::after {
  content: "→";
  font-size: 26px;
  position: absolute;
  top: -3px;
  left: 78%;
}

@media (max-width: 992px) {
  .apartament-body__link a {
    padding: 0 10px 0 0;
  }
  .apartament-body__link a::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .apartament-body__link a {
    padding: 0 40px 0 0;
  }
}

@media (max-width: 450px) {
  .apartament-body__link a {
    padding: 0 50px 0 0;
  }
}

.city__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 90px;
  color: #000000;
  text-align: center;
  margin: 50px 0 40px 0;
}

@media (max-width: 992px) {
  .city__title {
    font-size: 60px;
    line-height: 50px;
    margin: 40px 0 40px 0;
  }
}

@media (max-width: 768px) {
  .city__title {
    font-size: 36px;
    line-height: 40px;
    margin: 30px 0 30px 0;
  }
}

.city__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  margin-bottom: 45px;
}

@media (max-width: 992px) {
  .city__text {
    font-size: 20px;
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .city__text {
    font-size: 13px;
    line-height: 131%;
    margin-bottom: 20px;
  }
}

.city__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px 50px -10px;
}

@media (max-width: 992px) {
  .city__images {
    margin: 0 -5px 35px -5px;
  }
}

@media (max-width: 767px) {
  .city__images {
    margin: 0 -5px 25px -5px;
  }
}

.city__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 50%;
  padding: 0 10px 20px 10px;
}

@media (max-width: 767px) {
  .city__img {
    padding: 0 5px 10px 5px;
  }
}

.city__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts {
  margin-bottom: 30px;
}

.apartament-text {
  width: 100%;
}

.apartament-text p {
  font-weight: 300;
  font-size: 30px;
  line-height: 180%;
  color: #000000;
  margin-bottom: 15px;
}

@media (max-width: 992px) {
  .apartament-text p {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .apartament-text p {
    font-size: 16px;
    line-height: 200%;
    margin-bottom: 15px;
  }
}

.apartament-text p a {
  color: #000000;
  padding: 10px;
}

.apartament-text p a:hover {
  text-decoration: underline;
}

.apartament-text p img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-left: 10px;
  height: 50px;
}

@media (max-width: 992px) {
  .apartament-text p img {
    height: 40px;
  }
}

.apartament-text p img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.image-iphone {
  max-width: 300px;
  margin: auto;
}

@media (max-width: 992px) {
  .image-iphone {
    max-width: 250px;
  }
}

@media (max-width: 768px) {
  .image-iphone {
    display: none;
  }
}

.image-iphone img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.apartments__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  margin-bottom: 25px;
}

.apartments__img {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  width: 60%;
}

@media (max-width: 768px) {
  .apartments__img {
    display: none;
  }
}

.apartments__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.apartments__body {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  width: 40%;
}

@media (max-width: 768px) {
  .apartments__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
    text-align: center;
  }
}

.apartments__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  color: #000000;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .apartments__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
  }
}

.apartments__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .apartments__text {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .apartments__text {
    font-weight: 300;
    font-size: 13px;
    line-height: 131%;
  }
}

.apartments-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

@media (max-width: 992px) {
  .apartments-btn a {
    padding: 20px 40px;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .apartments-btn {
    margin-top: 20px;
    position: absolute;
    bottom: 4%;
    left: 30%;
  }
}

@media (max-width: 704px) {
  .apartments-btn {
    margin-top: 20px;
    position: absolute;
    bottom: 6%;
  }
}

@media (max-width: 504px) {
  .apartments-btn {
    position: absolute;
    bottom: 9%;
    left: 25%;
  }
}

@media (max-width: 413px) {
  .apartments-btn {
    position: absolute;
    bottom: 10%;
    left: 17%;
  }
}

@media (max-width: 337px) {
  .apartments-btn {
    position: absolute;
    bottom: 12%;
    left: 15%;
  }
}

.apartments-dropdowns {
  position: relative;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .apartments-dropdowns {
    margin-bottom: 30px;
  }
}

.apartments-dropdowns::before {
  content: "";
  display: block;
  position: absolute;
  left: 304px;
  top: 21px;
  width: 1px;
  height: 32px;
  background-color: #00000081;
  z-index: 1;
}

@media (max-width: 768px) {
  .apartments-dropdowns::before {
    left: 226px;
    top: 17px;
  }
}

.apartments-dropdowns::after {
  content: "";
  display: block;
  position: absolute;
  left: 267px;
  top: 12px;
  z-index: -1;
  width: 72px;
  height: 48px;
  background: linear-gradient(179.24deg, #eb9562 0.66%, #ffffff 155.42%);
  border-radius: 15px;
}

@media (max-width: 768px) {
  .apartments-dropdowns::after {
    left: 190px;
    top: 7px;
  }
}

.apartments-dropdowns__title {
  font-size: 28px;
  font-weight: 700;
  border: 1px solid #8d3500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 17px;
  display: inline-block;
  padding: 20px 115px 20px 20px;
}

@media (max-width: 768px) {
  .apartments-dropdowns__title {
    font-size: 20px;
    padding: 20px 91px 20px 20px;
  }
}

.apartments-dropdowns__arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: inline-block;
  font-size: 32px;
  position: absolute;
  left: 311px;
  top: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
  color: #00000081;
  cursor: pointer;
}

@media (max-width: 768px) {
  .apartments-dropdowns__arrow {
    left: 232px;
    top: 17px;
  }
}

.apartments-dropdowns__arrow:hover {
  color: #000000;
}

.apartments-dropdowns__arrow.active {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.apartments-dropdowns__item {
  position: absolute;
  left: 267px;
  top: 12px;
}

@media (max-width: 768px) {
  .apartments-dropdowns__item {
    left: 190px;
    top: 7px;
  }
}

.apartments-dropdowns__list {
  display: none;
}

.apartments-dropdowns__list li {
  font-size: 20px;
  margin-bottom: 10px;
}

.apartments-dropdowns__list li:last-child {
  margin-bottom: 0;
}

.apartments-dropdowns__list.number {
  display: block;
  height: 200px;
  overflow: scroll;
  padding: 15px 37px 0 10px;
  text-align: center;
  width: 72px;
  background: linear-gradient(179.24deg, #eb9562 0.66%, #ffffff 155.42%);
  border-radius: 15px;
}

.apartments-dropdowns__list.number::-webkit-scrollbar {
  width: 0px;
}

.scren {
  position: absolute;
  left: 267px;
  top: 12px;
  text-align: center;
  width: 72px;
  height: 48px;
  background: linear-gradient(179.24deg, #eb9562 0.66%, #ffffff 155.42%);
  border-radius: 15px;
  padding: 14px 28px 0px 0px;
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .scren {
    left: 190px;
    top: 7px;
  }
}

.list-scroll {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.list-scroll:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

@media (max-width: 768px) {
  .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.apartments-layout {
  margin: 0 100px;
  position: relative;
}

@media (max-width: 992px) {
  .apartments-layout {
    margin: 0 0px;
  }
}

.apartments-layout__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}

@media (max-width: 768px) {
  .apartments-layout__items {
    margin: 0 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.apartments-layout__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 20px;
  margin-bottom: 30px;
}

.apartments-layout__img:last-child {
  height: 150px;
}

@media (max-width: 768px) {
  .apartments-layout__img:last-child {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .apartments-layout__img {
    padding: 0 0px;
  }
}

.apartments-layout__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.apartments-layout__text {
  border: 1px solid #8d3500;
  border-radius: 17px;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 100%;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .apartments-layout__text {
    padding: 10px;
  }
}

.apartments-layout__text:last-child {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.apartments-layout__text p {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  text-align: center;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
}

@media (max-width: 768px) {
  .apartments-layout__text p {
    font-size: 12px;
    line-height: 12px;
  }
}

.apartments-layout__text p:first-child {
  padding: 0 0 25px 0;
}

@media (max-width: 768px) {
  .apartments-layout__text p:first-child {
    padding: 0 15px 10px 0;
  }
}

.apartments-text {
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
}

@media (max-width: 768px) {
  .apartments-text {
    font-size: 16px;
    line-height: 22px;
    margin-top: 130px;
  }
}
/*# sourceMappingURL=main.css.map */