.apartments {
	&__items {
		display: flex;
		margin: 0 -15px;
		margin-bottom: 25px;
	}

	&__img {
		padding: 0 15px;
		flex: 0 0 60%;
		width: 60%;
		@media (max-width: 768px) {
			display: none;
		}
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__body {
		padding: 0 15px;
		flex: 0 0 40%;
		width: 40%;
		@media (max-width: 768px) {
			flex: 0 0 100%;
			width: 100%;
			text-align: center;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 34px;
		line-height: 41px;
		color: $color-black;
		margin-bottom: 25px;
		@media (max-width: 768px) {
			font-size: 25px;
			line-height: 30px;
			margin-bottom: 15px;
		}
	}

	&__text {
		font-weight: 300;
		font-size: 16px;
		line-height: 21px;
		margin-bottom: 20px;
		@media (max-width: 992px) {
			font-size: 14px;
		}

		@media (max-width: 768px) {
			font-weight: 300;
			font-size: 13px;
			line-height: 131%;
		}
	}
}
.apartments-btn {
	justify-content: center;
	margin-top: 50px;
	@media (max-width: 992px) {
		& a {
			padding: 20px 40px;
			font-size: 16px;
		}
	}
	// @media (max-width: 450px) {
	// 	& a {
	// 		padding: 10px 15px;
	// 		font-size: 14px;
	// 	}
	// }

	@media (max-width: 767px) {
		margin-top: 20px;
		position: absolute;
		bottom: 4%;
		left: 30%;
		// transform: translate(-50%, 0);
	}
	@media (max-width: 704px) {
		margin-top: 20px;
		position: absolute;
		bottom: 6%;
	}
	@media (max-width: 504px) {
		position: absolute;
		bottom: 9%;
		left: 25%;
	}
	@media (max-width: 413px) {
		position: absolute;
		bottom: 10%;
		left: 17%;
	}
	@media (max-width: 337px) {
		position: absolute;
		bottom: 12%;
		left: 15%;
	}
}
.apartments-dropdowns {
	position: relative;
	margin-bottom: 50px;
	@media (max-width: 768px) {
		margin-bottom: 30px;
	}
	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 304px;
		top: 21px;
		width: 1px;
		height: 32px;
		background-color: #00000081;
		z-index: 2;
		@media (max-width: 768px) {
			left: 226px;
			top: 17px;
		}
	}
	&::after {
		content: "";
		display: block;
		position: absolute;
		left: 267px;
		top: 12px;
		z-index: -1;
		width: 72px;
		height: 48px;
		background: linear-gradient(179.24deg, #eb9562 0.66%, #ffffff 155.42%);
		border-radius: 15px;
		@media (max-width: 768px) {
			left: 190px;
			top: 7px;
		}
	}
	&__title {
		font-size: 28px;
		font-weight: 700;
		border: 1px solid #8d3500;
		box-sizing: border-box;
		border-radius: 17px;
		display: inline-block;
		padding: 20px 115px 20px 20px;
		@media (max-width: 768px) {
			font-size: 20px;
			padding: 20px 91px 20px 20px;
		}
	}

	&__arrow {
		transform: rotate(90deg);
		display: inline-block;
		font-size: 32px;
		position: absolute;
		left: 311px;
		top: 22px;
		transition: 0.3s;
		z-index: 2;
		color: #00000081;
		cursor: pointer;
		@media (max-width: 768px) {
			left: 232px;
			top: 17px;
		}
		&:hover {
			color: $color-black;
		}
		&.active {
			transform: rotate(-90deg);
		}
	}

	&__item {
		position: absolute;
		left: 267px;
		top: 12px;
		z-index: 1;
		// &::-webkit-scrollbar {
		// 	width: 24px;
		// 	height: 8px;
		// 	background-color: #143861;
		// }
		@media (max-width: 768px) {
			left: 190px;
			top: 7px;
		}
	}
	&__list {
		display: none;
		& li {
			font-size: 20px;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&.number {
			display: block;
			height: 200px;
			overflow: scroll;
			padding: 15px 37px 0 10px;
			text-align: center;
			width: 72px;
			background: linear-gradient(179.24deg, #eb9562 0.66%, #ffffff 155.42%);
			border-radius: 15px;
			&::-webkit-scrollbar {
				width: 0px;
			}
		}
	}
}
.scren {
	position: absolute;
	left: 267px;
	top: 12px;
	text-align: center;
	width: 72px;
	height: 48px;
	background: linear-gradient(179.24deg, #eb9562 0.66%, #ffffff 155.42%);
	border-radius: 15px;
	padding: 14px 28px 0px 0px;
	font-size: 24px;
	font-weight: 500;
	@media (max-width: 768px) {
		left: 190px;
		top: 7px;
	}
}
.list-scroll {
	cursor: pointer;
	transition: 0.3s;
	&:hover {
		transform: scale(1.4);
	}
}
.center {
	@media (max-width: 768px) {
		display: flex;
		justify-content: center;
	}
}
.apartments-layout {
	margin: 0 100px;
	position: relative;
	@media (max-width: 992px) {
		margin: 0 0px;
	}
	&__items {
		display: flex;
		margin: 0 -20px;
		@media (max-width: 768px) {
			margin: 0 0px;
			flex-direction: column;
		}
	}

	&__img {
		flex: 0 0 50%;
		padding: 0 20px;
		margin-bottom: 30px;
		&:last-child {
			height: 150px;

			@media (max-width: 768px) {
				margin-bottom: 10px;
			}
		}
		@media (max-width: 768px) {
			padding: 0 0px;
		}
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__text {
		border: 1px solid #8d3500;
		border-radius: 17px;
		padding: 15px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: auto;
		width: 100%;
		margin-bottom: 30px;
		@media (max-width: 768px) {
			padding: 10px;
		}
		&:last-child {
			justify-content: center;
		}
		& p {
			flex: 0 0 50%;
			text-align: center;
			font-weight: 300;
			font-size: 26px;
			line-height: 32px;

			@media (max-width: 768px) {
				font-size: 12px;
				line-height: 12px;
			}
			&:first-child {
				padding: 0 0 25px 0;
				@media (max-width: 768px) {
					padding: 0 15px 10px 0;
				}
			}
		}
	}
}
.apartments-text {
	font-weight: 300;
	font-size: 26px;
	line-height: 32px;
	text-align: center;
	@media (max-width: 768px) {
		font-size: 16px;
		line-height: 22px;
		margin-top: 130px;
	}
}
