.footer {
	background-color: rgba(86, 32, 0, 1);
	padding: 25px 0;
	@media (max-width: 767px) {
		padding: 15px 0;
		margin-bottom: 15px;
	}
}
.container {
}
.footer-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 767px) {
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -15px;
	}
	&__item {
		max-width: 250px;
		color: $color-white;
		text-align: center;
		@media (max-width: 767px) {
			padding: 0 15px;
		}
		// display: flex;
		& img,
		& span,
		& div,
		& h5 {
			margin-bottom: 10px;
		}
		& span {
			display: block;
		}
		& h6 {
			margin-bottom: 30px;
			font-weight: 300;
			font-size: 20px;
			line-height: 24px;
			@media (max-width: 992px) {
				font-size: 18px;
			}
			@media (max-width: 767px) {
				font-size: 12px;
				margin-bottom: 0px;
			}
		}
		& a {
			cursor: pointer;
			color: $color-white;
			margin-right: 10px;
			font-weight: 300;
			font-size: 20px;
			line-height: 24px;
			@media (max-width: 992px) {
				font-size: 18px;
			}
			@media (max-width: 767px) {
				font-size: 12px;
			}
		}
		& h5 {
			font-weight: 300;
			font-size: 26px;
			line-height: 32px;
			@media (max-width: 992px) {
				font-size: 18px;
			}
			@media (max-width: 767px) {
				font-size: 12px;
			}
		}
	}
}
.mb {
	margin-bottom: 30px;
	@media (max-width: 767px) {
		margin: 0px;
	}
}
.whatsapp {
	@media (max-width: 767px) {
		display: none;
	}
}
